node_modules
/.replays
/.flank.bin
/.flank.*.bin
/.map-image-extractor.bin
/.data-generator.bin
/.discord.token
/dist
/.debug
# test and coverage
/.nyc.temp
/.nyc.coverage

# Visual Studio 2015/2017 cache/options directory
/data-generator/.vs/
/data-generator/[Oo]bj/

*.rootpath.local
*.steam-web-api.key

.secrets
.env.local
